#과제03

###2016136128 조성재

    -01. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.
        * 1)

In [2]:
L=[1,2,3,4,5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

        + L[1:3]의 뜻은 두번째 것부터 네번째 것 전까지의 리스트를 의미한다. 그것에 [100]을 넣으니까 2,3은 없어지고 그 자리에 100이 들어간다.따라서 [1,100,4,5]가 출력된다.
        * 2)

In [4]:
L=[1,2,3,4,5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

In [6]:
print(type((100)))

<class 'int'>

        + 위와 같이 (100)의 타입은 class int이다. 즉 [100]이 되므로 출력은 1번과 마찬가지로 뜬다.
        * 3)

In [7]:
L=[1,2,3,4,5]
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

        + 리스트는 안에 요소로 리스트나 튜플 혹은 스트링이 들어갈수있다. 100 즉 int는 리스트에 들어올 수 없다.
        * 4)

In [12]:
L=[1,2,3,4,5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

        + 2번 문제처럼 (100)은 튜플이 아니라 int이다. 리스트에 int는 들어올 수 없으므로 에러가 발생한다. 만약 (100,)을 대입한다면 이것은 튜플이기 때문에 에러가 발생하지 않을 것이다.
        * 5)

In [11]:
L=[1,2,3,4,5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

        + L[1:3]은 2,3이 있는 자리의 리스트이고 이 자리에 100,101,102를 넣은 새로운 리스트를 생성한다. 따라서 출력은 [1, 100, 101, 102, 4, 5]가 된다.
        * 6)

In [14]:
L=[1,2,3,4,5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

        + 5번과 마찬가지이다. 리스트에는 리스트나 튜플 둘다 연산이 가능하다.
        * 7)

In [15]:
L=[1,2,3,4,5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

        + 리스트안에는 원소로 리스트나 튜플 혹은 스트링이 들어올 수 있다. 따라서 2,3자리에 (100, 101, 102)가 들어간 새로운 리스트를 만든다. 따라서 출력은 [1, (100, 101, 102), 4, 5]이다.
        * 8)

In [16]:
L=[1,2,3,4,5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

        + 7번과 마찬가지로 리스트안에는 리스트가 들어올 수 있다. 따라서 출력은 [1, [100, 101, 102], 4, 5]가 된다.
        
    -02. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
        1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고

In [26]:
s = 'Hello World and Python'
s1 = s.split()
s1.reverse()
s2 = ' '.join(s1)
print (s2)

Python and World Hello

        + 먼저 문자열 s를 공백을 기준으로 나눠서 리스트에 저장한다. 그리고 이 리스트를 메소드를 통해 순서를 반대로 뒤집고 이 리스트를 공백을 넣어서 문자열로 바꿔주면 위와같은 정답이 나온다.

         2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [28]:
s = s2.split()
s1 = ''.join(s)
print (s1)

PythonandWorldHello

        + 이번에는 공백을 기준으로 문자열을 나눈 다음에 공백이 없이 하나로 합친다. 그러면 2번의 정답이 나온다.
        
     -03. 다음 코드를 보고 물음에 답하시오.

In [41]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

        1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.

In [48]:
a[0]=0
print(b)
print(c)

[0, 2, 3, 0, 2, 3, 0, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

        2) b와 c 객체의 차이는 무엇인가?

        + b는 바뀐 a 즉 [0, 2, 3]을 3번 반복해서 [0, 2, 3, 0, 1, 2, 0, 1, 2]이라는 리스트가 되고 c는 a에 리스트를 덮고 그것은 3번 반복하여 [[0, 2, 3], [0, 2, 3], [0, 2, 3]]이라는 중첩리스트가 된다.

    -04. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)
        s = '  first star   :   second star   :    third star  '
        l = ['first star', 'second star', 'third star']
        
        1) for ~ in 문을 이용한 코드를 작성하시오.
        2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [57]:
s = '  first star   :   second star   :    third star  '

s1 = s.split(':')
l = [k.strip() for k in s1]
print(l)

['first star', 'second star', 'third star']

        + 먼저 s에 있는 문자열을 ':'을 기준으로 나눠서 리스트에 넣는다. 그리고 이것을 for문을 이용하여 차례로 꺼내서 strip을 써서 공백을 제거하고 차례로 l에 넣는다. 이는 리스트 내포를 이용하여 구현한다. 그러면 다음과 같이 출력할 수 있다.

    -05 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
        * [참고 1]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)
        * [참고 2]: sum() 등의 내장함수 사용 가능함
        
        1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
            >>> addall([1])
            1
            
            >>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
            45

In [61]:
def addall(s):
    return sum([k for k in s])
print (addall([1]))
print (addall([1,2,3,4,5,6,7,8,9]))

1
45

        2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
            >>> addallodd([1])
            1
            
            >>> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])
            25

In [63]:
def addallodd(s):
    return sum([k for k in s if k%2])
print (addallodd([1]))
print (addallodd([1,2,3,4,5,6,7,8,9]))

1
25

        + 리스트 내포를 이용하여 한줄의 함수를 정의하기 위해 먼저 1번문제는  리스트를 받고 그 리스트를 차례로 꺼내서 반환하는 리스트를 sum을 이용하여 쉽게 더하는 함수를 정의하였다. 2번문제는 여기서 뒤에 홀수일때만 작동하도록 if문을 추가하여 작성하였다. 이렇게 하여 알맞은 값을 출력하도록 하였다.

    -06. 다음 코드를 보고 물음에 답하시오.

In [65]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

        1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?

        + 네번째 줄에있는 e = d 는 d의 주소를 e에 대입하는 것으로 주소가 같아진다. 따라서 d의 값이 바뀌면 e의 값도 저절로 바뀌어 출력되게 된다.

        2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
        {'high': [4, 500, 6], 'low': [1, 2, 3]}

        + f에는 d.copy()를 대입하였다. 이는 shallow copy로 깊은 복사와 달리 전부 복사되지는 않는다. d['high'][1] = 500와 같이 high의 두번째 리스트에는 500이 잘 들어갔지만 d['low'] = [10, 20, 30]에는 얕은 복사이기때문에 들어가지 않은 것을 확인할 수 있다.

    -07. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오
        [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
        1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [91]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
h=d.items()
x = [k for k in h]
x.sort()
print(x)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]

        + 사전을 리스트로 다 변환시키고 그것은 sort를 이용하여 알파벳 순서대로 만들었다.

        2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [92]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
h=d.items()
x = [k for k in h]
x.sort()
x.reverse()
print(x)

[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

        + 1번 문제에 reverse를 이용하여 순서를 반대로 바꾸면 2번 문제의 답이 된다.

        3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [93]:
def cmp_by_each_element(a):
    return a[1]
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
h=d.items()
x = [k for k in h]
x.sort(key=cmp_by_each_element)
print(x)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

        + 수업시간에 배웠던 def cmp_by_each_element(a)을 이용하여 두번째 원소의 대소를 비교하는 함수를 정의한 후에 그것을 활용하여 분류하였다.

    4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [94]:
def cmp_by_each_element(a):
    return a[1]
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
h=d.items()
x = [k for k in h]
x.sort(key=cmp_by_each_element)
x.reverse()
print(x)

[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

        + 3번 문제의 답에서 반대로 뒤집으면 4번의 답이 되므로 reverse를 사용하여 답을 출력하였다.

    -08. [ACM-ICPC 문제 1152번]

![1152](https://raw.githubusercontent.com/chosungjea/cho2/master/1152.png)

    -09. [Incremental Project] 이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그 및 CSS와 Javascript를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.
        * 요구사항 1. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
            + 예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
            + 모든 punctuation을 확인하는 방법은 아래와 같다.
                import string
                print(string.punctuation)
        * 요구사항 2. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
            + 예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '지향']
        * 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.
            + 예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1}
        * 요구사항 4. 다음 3개의 사이트에 대한 결과를 출력하시오.
            http://www.naver.com
            http://www.daum.net
            http://www.nytimes.com

In [105]:
from urllib import request 
 
url = 'http://cse.koreatech.ac.kr'
f = request.urlopen(url)
source_bytes = f.read()
source = source_bytes.decode('utf-8')
c=source.strip()
cc=source.split()
ff = []
cnt = 0
for x in range(len(cc)):
    if('<' == cc[x][0]):
        cnt = 1
        ff.expend([cc[x]])
    elif(cnt==1):
        
        ff.expend([cc[x]])
    elif('>' == cc[x][-1]):
        
        cnt = 0
        ff.expend([cc[x]])
    else:
        pass
        
print(ff)

AttributeError: 'list' object has no attribute 'expend'

    느낀점: 저번 과제의 마지막 문제를 해결하지 못하여서 이번 과제도 마지막 문제를 풀지 못했다. 물론 문제를 못푼 것은 그럴수 있다고 생각하지만 어떻게 푸는지 알수있는 방법이 별로 없는것 같다. 아무리 많은 시간을 소요해도 결국 해결을 못하고 제자리를 돌고있는것 같은 기분이 들었다.